@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
--DarkCyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--VeryDarkBlue: hsl(212, 21%, 14%);
--DarkGrayishBlue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--Mobile: 375px;
--Desktop: 1440px;
}

/*
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
    font-size: 1.4rem;

}

.card {
    display: flex;
    width: 60rem;
    height: 45rem;
    border-radius:1rem;
    overflow: hidden;
}

.image {
    width: 30rem;
    height: 45rem;
    
}

.product {
    width: 30rem;
    height: 45rem;
    padding: 3.2rem;
    background-color:var(--White);
}


.category {
    margin-bottom: 1rem;
    letter-spacing: 0.5rem; 
    
}
.title,
.description,
.price
 {
    margin-bottom: 2.5rem;
}

.category,
.description,
.old_price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--DarkGrayishBlue);
}
.category {
 font-size: 1.2rem;
 text-transform: uppercase;

}

.new_price, 
.cart_button,
.title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.title {
    font-size: 3.2rem; 
}


.price { 
    display: flex; 
}

.old_price,
.new_price {
    display:flex;
    align-items: center;
}

.new_price {
    font-size: 3.2rem;
    color: var(--DarkCyan);
}

.old_price {
    font-size: 1.3rem;
    margin-left: 2rem;
    text-decoration: line-through;
}

.cart_button{
    background-color: var(--DarkCyan);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--White);  
}

.cart_button img {
    margin-right: 1rem;
}


